################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/StudentWeb.Web/bin/Debug/net8.0
/StudentWeb.Web/obj
